# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
*.egg-info/
dist/
build/

# Environment
.env
!.env.example

# Alembic
alembic/__pycache__/
alembic/versions/*.pyc

# Logs & uploads (если не нужны в репо)
logs/*.log
uploads/*
!uploads/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker (опционально, если не коммитите образы)
*.dockerignore

logs/*
.logs/*
./logs/*